<ul class="posts-list">
  <h1 hidden>List of Posts</h1>
  {{#each mock.posts}}
    <li class="post">
      <article class="post--container">
        <div class="post--image">
          <a href="#">
            <img src="assets/images/{{ this.image }}" alt="">
          </a>
        </div>
        <div class="post--category">
          <a href="#">
            {{ this.category }}
          </a>
        </div>
        <div class="post--content">
          <div class="post--info">
            <span class="post--date">{{ this.date }}</span>
            <span class="post--comments">3 comments</span> 
          </div>
          <h1 class="post--title">
            <a href="#">
              {{ this.title }}
            </a>
          </h1>
        </div>
      </article>  
    </li>
  {{/each}}
</ul>

{{!--
    <li class="post">
      <article class="post--container">
        <header class="post--header">
          <div class="post--category">
            <a href="#">
              {{ this.category }}
            </a>
          </div>
          <h1 class="post--title">
            <a href="#">
              {{ this.title }}
            </a>
          </h1>
          <div class="post--date">
            {{ this.date }}
          </div>
        </header>
        <div class="post--image">
          <a href="#">
            <img src="assets/images/{{ this.image }}" alt="">
          </a>
        </div>
        <div class="post--excerpt">
          {{ this.excerpt }}
        </div>
        <div class="post--actions">
          <a class="btn btn--primary" href="#">
            Leer post
          </a>
        </div>
      </article>  
    </li>

--}}
